img {
    width:100%;
}
.content {
    padding:0px 10px;
}
input {
    text-align:left;
    padding:5px;
    font-size:1.4rem;
    margin-bottom:3px;
    width:100%;
}

form#signUp {
    margin:20px 0px;
}

