

/* =================================================================
PROJECT SPECIFIC CSS
===================================================================*/
/*global*/





img {
    width:100%;
}
.content {
    padding:0px 10px;
}


form#signUp {
    margin:20px 0px;
}

