

@font-face {
    font-family: 'museo-sans';
    src: url('museosans_100-webfont.eot');
    src: url('museosans_100-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosans_100-webfont.woff') format('woff'),
         url('museosans_100-webfont.ttf') format('truetype'),
         url('museosans_100-webfont.svg#museo-sans') format('svg');
    font-weight: 100;
    font-style: normal;

}




@font-face {
    font-family: 'museo-sans';
    src: url('museosans_300-webfont.eot');
    src: url('museosans_300-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosans_300-webfont.woff') format('woff'),
         url('museosans_300-webfont.ttf') format('truetype'),
         url('museosans_300-webfont.svg#museo-sans') format('svg');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'museo-sans';
    src: url('museosans_500-webfont.eot');
    src: url('museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosans_500-webfont.woff') format('woff'),
         url('museosans_500-webfont.ttf') format('truetype'),
         url('museosans_500-webfont.svg#museo-sans') format('svg');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'museo-sans';
    src: url('museosans_700-webfont.eot');
    src: url('museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosans_700-webfont.woff') format('woff'),
         url('museosans_700-webfont.ttf') format('truetype'),
         url('museosans_700-webfont.svg#museo-sans') format('svg');
    font-weight: 700;
    font-style: normal;

}